body {
    font-family: arial, sans-serif;
    margin: 0;
    background-color: rgb(5, 33, 45);
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.social-networks {
    display: flex;
    justify-content: center;
    padding: 40px 0 0 0;
}

.logo {
    background: url("./images/logo-bg.png") no-repeat;
    max-width: 768px;
    height: 278px;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #999999
}

a:hover {
    text-decoration: underline;
}

.logo h1 {
    font-size: 34px;
    color: #ffffff;
    font-weight: 400;
    padding: 30px 0 0 20px;
    margin-bottom: 0;
}

.wrap-logo p {
    color: #3f3d3d;
    margin: 0;
    padding: 0 0 0 114px;
}

ul#nav {
    display: flex;
    list-style-type: none;
    padding: 0;
}

ul#nav li {
    padding: 12px;
}

h2 {
    font-size: 26px;
    color: #ffffff;
}

p.pj {
    text-align: justify;
    color: #669999;
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 14px;
}

.el {
    color: #FF9900;
    font-size: 14px;
}

.pl {
    text-align: justify;
    color: #669999;
    margin-bottom: 25px;

}

.small_text {
    font-size: 12px;
}

p.pj_c {
    color: #999999;
}

p.p_bot {
    color: #999999;

    font-size: 12px;
    margin: 9px 0 0 72px;
}

#rt a {
    color: #669999;
    outline: none;
    text-decoration: underline;
    font-weight: bold;
    line-height: 20px;
}

h3 {
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

div#content {
    display: flex;
    padding: 8px;
}

div#copyright {
    background: url("./images/ind_04.jpg");
    background-size: initial;
    background-position-x: -144px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    height: 66px;
    margin: 0 0 10px 0;
}

p.p_informer {
    margin: 0 140px 0 0;
}

div#right {
    margin-top: 35px;
}

ul.meun li {
    list-style: none;
}

div#lef {
    flex: 3 1 0;
}

div#right {
    flex: 1 1 0;
}

div#right h3 {
    padding: 0 0 0 40px;
}

li.title {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.wrap-icon-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 14px;
}

.bar-one, .bar-two, .bar-three {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 7px 0;
    transition: 0.4s;
}

.side-right {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

@media (max-width: 767px) {
    .logo {
        max-width: unset;
        background-size: contain;
    }
}
@media (max-width: 680px) {
    .logo h1 {
        padding: 6px 0 0 20px;
    }
}

@media only screen and (min-width : 560px) and (max-width : 634px) {
    ul#nav {
        margin: 0;
    }
    .logo h1 {
        margin: 14px 0 0 0;
    }
}

@media (max-width: 480px) {

    p.p_informer {
        margin: 0;
    }
}

@media (max-width: 420px) {

    p.p_bot span {
        display: block;
    }

    p.p_bot {
        color: #999999;
        font-size: 12px;
        margin: 0 0 0 74px;
    }

    .wrap-icon-menu {
        display: inline-block;
    }

    .logo {
        background-size: cover;
    }

    .wrap-logo p {
        padding: 0 0 0 108px;
    }

    .logo h1 {
        padding: 30px 0 2px 40px;
    }

    ul#nav {
        padding: 0 0 0 40px;
        margin: 0;
    }

    iframe {
        max-width: 358px;
        margin: 0 auto;
        display: flex;
    }
}

@media (max-width: 320px) {
    .wrap-icon-menu {
        right: 14px;
        top: 14px;
    }

    .logo {
        max-width: 320px;
    }

    .logo h1 {
        padding: 30px 0 2px 12px;
    }

    .wrap-logo p {
        padding: 0 0 0 90px;
    }

    ul#nav {
        padding: 0;
    }

    iframe {
        max-width: 306px;
    }

    div#content {
        padding: 4px;
    }

    div#copyright {
        background: unset;
        padding: 4px;
    }

    p.p_bot {
        margin: 0;
    }
}